<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Details</title>
    <link rel="stylesheet" href="/css/specific.css" />
    <script src="../ws.js"></script>
  </head>
  <body>
    <div class="nav">
      <span class="back-arrow-especific">&lt;</span>
      <span class="title" style="margin-top:10px; font-size: 21px;"></span>
    </div>
    <span class="menu">Cinema Selection</span>

    <div class="movie-card">
      <img src="" alt="Movie Poster" class="movie-image" />
      <div class="movie-content">
        <div class="titletrai">
          <div class="text">
            <h2 class="movie-title"></h2>
            <p class="genre"></p>
          </div>
          <button class="watch-trailer-btn">
            <img src="../storage/Polygon 1.png" alt="" />
            Watch Trailer
          </button>
        </div>
        <p class="description"></p>
      </div>
    </div>

    <div class="cast">
      <h2>Cast</h2>
    </div>
    <div class="cast-container"></div>

    <div class="cinema-header">
      <h2>Cinema</h2>
    </div>
    <div class="cinema-card">
      <div class="cinema-card-details">
        <div>Cine Campus</div>
        <div><small>Best Cinema</small></div>
      </div>
      <img src="/storage/campus.jpg" class="cinema-logo">
    </div>

  </body>
</html>
