<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ticket</title>
    <link rel="stylesheet" href="/public/css/factura.css">
</head>
<body>
    <div class="nav-bill">
        <span class="back-arrow-especific">&lt;</span>
        <span class="title" style="margin-top:10px; font-size: 21px; "></span>
        
      </div>
      <span class="menu">Cinema Selection</span>

    <div class="ticket">
        <img src="/public/storage/avatar.jpg" alt="">
        <div class="title-container">
            <h1 class="ticket-title">CINEMA HARTONO MALL 12</h1>
            <p>Show this ticket at the entrance</p>
        </div>
      
        

        <div class="ticket-body">
            <div class="cinemaname"> 
                <div class="cinemaname-info"><p>cinema</p>
                    <h2>CineCampus</h2></div>
                <div >
                    <img class="imagecampus" src="/public/storage/campus.jpg" alt="">
                </div>
               </div>
               <p>Cinema A, Seat C26,29</p>
               <p>Order ID: 12345678</p>
        </div>
        
        <div class="ticket-footer">
            <img src="barcode-placeholder.png" alt="Barcode">
        </div>
    </div>
</body>
</html>
