<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/specific.css" />
  </head>
  <body>
    <div class="movie-card">
      <img
        src="/public/storage/kill.jpg"
        alt="Puss in Boots"
        class="movie-image"
      />
      <div class="movie-content">
        <div class="titletrai">
          <div class="text">
            <h2 class="movie-title">Puss in Boots: The Last Wish</h2>
            <p class="genre">Action, Adventure</p>
          </div>

          <button class="watch-trailer-btn">
            <img src="../storage/Polygon 1.png" alt="" />
            Watch Trailer
          </button>
        </div>

        <p class="description">
          Jake Sully and Neyt'iri have formed a family and are doing everything
          to stay together. However, they must leave their home and explore the
          regions of Pandora. When an ancient threat resurfaces, Jake must fight
          a difficult war against the humans.
        </p>
      </div>
    </div>



    
  </body>
</html>
