@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    color: #CECECE;
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

} 
.asientos{
    margin-top: 20px;
    padding-bottom: 100px;
    padding: 0 10px;
}
.asientos__normal{
    margin-bottom: 20px !important;
}
.asientos__normal, 
.asientos__preferenciales{
    display: flex;
    gap: 10px;
    margin: 30px 0;
    flex-direction: column;
    align-items: center;
}
.asientos__normal div,
.asientos__preferenciales div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.asientos__lista input[type="checkbox"],
.asientos__preferenciales input[type="checkbox"]{
    display: none;
}
.asientos__lista input[type="checkbox"] + label:before,
.asientos__preferenciales input[type="checkbox"] + label:before {
    content: "";
	float: left;
	margin: 0.5em 0.5em 0 0;
    font-family: "Inter_18pt-Regular";
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background: #323232;
    border-radius: 5px;
}
.asientos__lista input[type="checkbox"]:checked + label:after,
.asientos__preferenciales input[type="checkbox"]:checked + label:after {
    content: attr(data-place);
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: "Inter_18pt-Regular";
    align-items: center;
    float: left;
    background: #FE0000;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-left: -2.2em;
}
.asientos__lista input[type="checkbox"] + label:hover::before,
.asientos__preferenciales input[type="checkbox"] + label:hover::before {
    background: #FE0000;
}
.asientos__lista input[type="checkbox"] + label:hover::after,
.asientos__preferenciales input[type="checkbox"] + label:hover::after {
    cursor: pointer;
    content: attr(data-place);
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: "Inter_18pt-Regular";
    align-items: center;
    float: left;
    background: #FE0000;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-left: -2.2em;
}
.asientos__lista input[type="checkbox"].reserved + label:before,
.asientos__preferenciales input[type="checkbox"].reserved + label:before{
    content: "";
    background: #CECECE ;
}
.asientos__lista input[type="checkbox"].reserved + label:hover::after,
.asientos__preferenciales input[type="checkbox"].reserved + label:hover::after{
    content: attr(data-place);
    background: #CECECE ;
    cursor: default;
}

.asientos__menu{
    background-color: #FE0000;
}

.asientos__menu {
    display: flex;
    justify-content: space-between; 
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.calendar {
    width: 100%;
    color: black;
    font-family: Arial, sans-serif;
    border-collapse: separate;
    overflow: auto;
     margin: auto;
    border-spacing: 5px;
    overflow-x: auto;
    display: flex;
    padding: 0;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0px ;
  }
  
  
  .day-container {
    width: 100%;
    height: 70px;
    gap: 10px;
    display: flex;
  }

  .day{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    width: 50px;
    color: black ;
    background-color: white ;
  }

  .day:active {
    background-color: #ff0000;
    color: white ;
  }

  .weekday {
    font-size: 14px;
    color: #999;
  }
  
  .date {
    font-size: 24px;
    font-weight: bold;
  }
  
  .carousel {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
  }
  

  .time-slot {
    min-width: 90px;
    height: 80px;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 10px;
  }
 
  .time-slot:active {
    background-color: #ff0000;
    color: white ;
  }
  .price:active {
    background-color: #ff0000;
    color: white ;
  }


  .time {
    font-size: 18px;
    font-weight: bold;
  }
  
  .price {
    font-size: 14px;
    color: #666;
  }
  
  /* @keyframes carousel {
    0%, 25% { opacity: 1; }
    33%, 100% { opacity: 0; }
  } */


  .ticket-container {
    display: flex;
    background-color: #000; 
    padding: 20px;
    text-align: center;
    justify-content: space-between;
  }
  
  .price {
    color: black;
    margin-bottom: 10px;
  }
  
  .buy-ticket {
    background-color: #ff0000; 
    color: #fff; 
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
  }
  
  .seat-selection {

    background-color: black;
    color: white;
    text-align: center;
   
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .back-arrow,
  .menu {
    font-size: large; 
  }
  
 
  .screen-indicator {
    position: relative;
  }
  
  .seat-selection {
    width: 100%; 
    height: 120px; 
  }
  .seat-selection .title {
    
    font-size: 24px; 
    font-weight: bold; 
    color: white; 
    text-align: center; 
    margin: 0 auto; 
    padding-top: 70px 0; 
}
.screen-indicator .screen-text {
    
    font-size: 24px; 
    font-weight: bold; 
    color: white; 
    text-align: center; 
    margin: 0 auto; 
    margin-top: 100 px ; 
}


.price2 {
    color: white; 
    margin-bottom: 10px;
  }

  .calendar {
    gap: 20px
  }

  .ticket-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
  }

  .ticket-container .buy-ticket {
    
    height: 50px;
    width: 190px;
    border-radius: 10px; 
  }
  
  .ticket-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 90%; 
}

.organization {
    display: flex;
    flex-direction: column; 
}

.price2, .value2 {
    margin: 0; 
   
}

.buy-ticket {
    margin-right: 30px; 
   margin-right: 10px;
    font-size: 16px; 
}

